<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_REFRESH_RECURSIVE" value="false"/>
    <stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;resources&gt;&#10;&lt;item path=&quot;/multizone-sdk/multizone.hex&quot; type=&quot;1&quot;/&gt;&#10;&lt;/resources&gt;}"/>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${none}"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/usr/bin/java"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-jar multizone.jar -v&#10;   --kernel ../hexfive-kern/build/${config_name:multizone-sdk}/kernel.hex&#10;   --arch ${config_name:multizone-sdk}&#10;   --config bsp/${config_name:multizone-sdk}/multizone.cfg&#10;   --boot bsp/${config_name:multizone-sdk}/boot/boot.hex&#10;     zone1/zone1.hex&#10;     zone2/zone2.hex&#10;     zone3.1/zone3.hex&#10;     zone4/zone4.hex"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/multizone-sdk}"/>
</launchConfiguration>
